* {
    margin: 0%;
    padding: 0%;
    font-family: "AGaramondPro";
    scrollbar-width: none;
}

@font-face {
    font-family: "AGaramondPro";
    src: url(../assets/AGaramondPro-Regular.otf);
}

:root {
    --tamanho-header: 15vh;
    --tamanho-footer: 15vh;
    --tamanho-inteiro: calc(100vh - var(--tamanho-header) - var(--tamanho-footer));
    --tamanho-semfooter: calc(100vh - var(--tamanho-header));
}


/* COMEÇO HEADER */
.header {
    display: flex;
    background-color: black;
    height: var(--tamanho-header);
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-color: rgb(165, 41, 10);
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    margin: auto;
}

.botao {
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: none;
}

.botao:hover {
    background-color: rgb(104, 37, 11);
}

/* FIM HEADER */

/* COMEÇO BODY */
.corpoIndex {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tituloDarkSouls {
    width: 796.97px;
    margin-bottom: 80px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 90px;
}

.titulo {
    width: 700px;
}


#bg_jogo {
    margin-top: 25px;
    opacity: 0.75;
    width: 90vw;
}

#bg_historia {
    margin-top: 25px;
    opacity: 0.75;
    border-radius: 12px;
    width: 90vw;
}

.jogo {
    position: relative;
    margin-bottom: 60px;
}

.historia {
    position: relative;
    margin-bottom: 60px;
}

.container {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.70);
    color: white;
    font-size: 30px;
}

.txt_jogo {
    top: 140px;
    left: 65px;
    right: 65px;

    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 150px;
    margin-left: -0px;
    padding-right: 150px;
    margin-right: -0px;
}

.txt_historia {
    top: 85px;
    left: 65px;
    right: 65px;
    padding: 30px;
    margin: -30px;

    padding-left: 260px;
    margin-left: -30px;
    padding-right: 260px;
    margin-right: -30px;

    text-align: center;
}

.paragrafo {
    text-align: justify;
    text-indent: 70px;
}

/*  */
.cadastroLogin {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--tamanho-inteiro);
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 30px;
    background-color: black;
    border: solid;
    border-radius: 12px;
    border-color: grey;
    border-width: 3px;
    width: 35%;
    height: 60%;
    color: white;
}

.campo {
    display: flex;
    flex-direction: column;
    margin: 1px;
}

.campo input {
    background-color: darkgray;
    border-radius: 3px;
}

#btnCadastroLogin {
    margin-top: 35px;
    border: solid;
    border-color: grey;
    border-width: 1px;
    width: 200px;
}

/*  */

#div_aguardar {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 15px;
    width: 12vw;
    height: auto;
}

#cardErro {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 5px;
    color: red;
    font-size: 16px;
}

#cardErroLogin {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: var(--tamanho-inteiro);
}

#mensagem_erro_login>img {
    height: 50%;
    width: auto;
}

/*  */
.corpo_forum {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    position: relative;
    color: white;
    font-size: 30px;
}

.escrever_forum {
    position: relative;
    width: fit-content;
    margin: 2%;
    padding: 4%;
}

.escrever_forum>img {
    width: 12vw !important;
}


#ipt_comentario {
    width: 40vw;
    height: 20vh;
    margin: 1%;
}

.container_comentarios {
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 80vw;
    padding: 2%;
    color: white;
    border: solid;
    border-width: 2px;
    border-color: rgb(61, 61, 61);
}

.container_comentarios select {
    width: 15%;
    align-self: flex-end;
}

.container_comentarios button {
    width: 15%;
    align-self: flex-end;
}

#container_comentarios {
    font-weight: bold;
}

.comentario {
    text-align: justify;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: solid;
    border-width: 2px;
    border-color: rgb(251, 130, 0);
    color: black;
    text-shadow: -2px 0 rgb(255, 207, 47), 0 2px rgb(255, 207, 47), 2px 0 rgb(255, 207, 47), 0 -2px rgb(255, 207, 47);
    height: fit-content;
}

/* COMEÇO DASHBOARD */

.dashboard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    height: var(--tamanho-semfooter);
}

.grafico {
    
}

/* FIM BODY */

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: var(--tamanho-footer);
    border-top: solid;
    border-color: rgb(165, 41, 10);
    color: white;
}

/* FIM FOOTER */

/* COMEÇO  */
.simuladorInventario {
    position: relative;
}

.itens {
    display: flex;
    position: absolute;
    top: 198px;
    left: 160px;
    height: 160px;
    width: 530px;
    flex-direction: column;
}

.botaoInventario {
    display: flex;
    background: transparent;
    border: none;
    flex-grow: 1;
    padding: 0%;
}

.descricao {
    display: none;
    position: fixed;
    top: 208px;
    left: 168px;
}