body {
    margin: 0px;
}

/* COMEÇO HEADER */
.header {
    display: flex;
    background-color: black;
    height: 110px;
}

.headerImg {
    justify-self: flex-start;
}

.navbar {
    display: flex;
    align-items: center;
    margin: auto;
}

.headerButton {
    display: flex;
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: none !important;
}
.navbar>.headerButton:hover {
    background-color: rgb(104, 37, 11);
}
/* FIM HEADER */


.simuladorInventario {
    position: relative;
}

.itens {
    display: flex;
    position: absolute;
    top: 198px;
    left: 160px;
    height: 160px;
    width: 530px;
    flex-direction: column;
}

.botaoInventario {
    display: flex;
    background: transparent;
    border: none !important;
    flex-grow: 1;
    padding: 0%;
}

.descricao {
    display: none;
    position: fixed;
    top: 208px;
    left: 168px;
}