body {
    margin: 0px;
}

/* COMEÇO HEADER */
.header {
    display: flex;
    background-color: black;
    height: 110px;
}

.headerImg {
    height: 110px;
}

.navbar {   
    display: flex;
    align-items: center;
    margin-left: 26%;
}

.headerButton {
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: none !important;
}
.navbar>.headerButton:hover {
    background-color: rgb(104, 37, 11);
}
/* FIM HEADER */

/* COMEÇO BODY */
.body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tituloDarkSouls {
    width: 796.97px;
    margin-bottom: 80px;
}

#bg_jogo {
    margin-top: 15px;
    opacity: 0.75;
}

.jogo {
    background-image: ;
}   

/* FIM BODY */
.simuladorInventario {
    position: relative;
}

.itens {
    display: flex;
    position: absolute;
    top: 198px;
    left: 160px;
    height: 160px;
    width: 530px;
    flex-direction: column;
}

.botaoInventario {
    display: flex;
    background: transparent;
    border: none !important;
    flex-grow: 1;
    padding: 0%;
}

.descricao {
    display: none;
    position: fixed;
    top: 208px;
    left: 168px;
}